<form action="/add" method="post">
  Task:
  <br>
  <input type="text" name="name" autofocus>
  <br>
  Description:
  <br>
  <textarea rows="5" cols="30" name="description"></textarea>
  <button>Add</button>
</form>

<% if @rows.present? %>

<div id="yellow_pad">


<div id="table_box">
  <table>
      <tr>
      <th>Task</th>
      <th>Description</th>
    </tr>
      <% @rows.each do |row| %>
      <tr>
      <td><%= row['name'] %></td>
      <td><%= row['description'] %></td>
     </tr>
       <% end %>

  </table>
</div>
</div>
<% end %>
