<form action="/add" method="post">
  <p>Task:</p>
  <input type="text" name="name" size="28" autofocus>
  <br>
  <p>Description:</p>
  <textarea rows="3" cols="28" name="description"></textarea>
  <br>
  <button>Add</button>
</form>

<% if @rows.present? %>

<div id="yellow_pad">
  <div id="the_list">
      <% @rows.each do |row| %>
        <p><span class='underline'><%= row['name'] %></span> -- <%= row['description'] %></p>
       <% end %>
     </div>
</div>

<% end %>
