<!doctype html>

<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>ToDo</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id='container'>
  <div id='contents'>
  <header>
    <h1>To Do</h1>
  </header>

  <%= yield %>
</div>
</div>
</body>
</html>